name: Release helm
on:
  push:
    branches:
      - main
    paths:
      - "charts/**"

jobs:
  release-helm:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to push chart release and create a release (helm/chart-releaser-action)
      packages: write # needed for ghcr access
      id-token: write # needed for keyless signing
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - uses: azure/setup-helm@v3
      - name: add chart #realse helm with new version
        run: |
          VERSION=$(cat charts/kafka-ui/Chart.yaml  | grep version | awk '{print $2}')
          echo "HELM_VERSION=$(echo ${VERSION})" >> $GITHUB_ENV
          MSG=$(helm package charts/kafka-ui)
          git fetch origin
          git stash
          git checkout -b gh-pages origin/gh-pages
          git pull
          helm repo index .
          git add -f ${MSG##*/} index.yaml
          git commit -m "release ${VERSION}"
          git push
      - uses: rickstaa/action-create-tag@v1 #create new tag
        with:
          tag: "charts/kafka-ui-${{ env.HELM_VERSION }}"
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push chart to GHCR
        run: |
          git checkout -
          helm package charts/kafka-ui
          helm push kafka-ui-*.tgz oci://ghcr.io/${{ github.repository_owner }}/charts

